@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  overflow-x: hidden;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-top: 70px;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.table-wrapper {
  width: 100%;
  padding-top: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  .table {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.rt-tr-group{
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

.view-transport-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.view-transport-same-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-transport {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.view-transport-item {
  padding: 20px;
  border-radius: 10px;
  background: aliceblue;
  margin: 10px;
}

.full-width {
  clear: both;
}

.width-35 {
  width: 35%;
}

.width-65 {
  width: 65%;
}